<div class="actions">
  <a href="/books/<%= @book.id %>/edit">Edit</a>
</div>

<h1> Showing Book </h1>

<form action="/books/<%= @book.id %>" method="post" class="delete-form">
  <input type="hidden" name="_method" value="delete" />
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input type="submit" value="Delete">
</form>

<dl class="attributes">
  <dt>Name of Book</dt>
  <dd><%= @book.name_of_book %></dd>
  <dt>Author of Book</dt>
  <dd><%= @book.author_of_book %></dd>
  <dt>Year Book was Published</dt>
  <dd><%= @book.year_book_was_published %></dd>
</dl>